.greentitle{
  font-family: unbounded;
  text-align: center;
  font-size: 20px;
  color: #39FF14;
  border: 1px solid #333;
  border-radius: 30px;
  box-shadow: 8px 8px 5px #3e243ded;
  padding: 8px 12px;
  background-color: #D9D9D9;
}
